
.peapp{
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  font: white;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
}

.dropdown {
  height: 12rem;
  width: 12rem;
  border: 2px solid white; /* border width, style, and color */
  border-radius: 10px;
  padding: 20px; /* optional: padding to create space inside the border */
  color: white;
  margin-left: 5rem;
}

.timer {
  height: 12rem;
  width: 12rem;
  border: 2px solid white; /* border width, style, and color */
  border-radius: 10px;
  padding: 20px; /* optional: padding to create space inside the border */
  color: white;
}

.results {
  height: 12rem;
  width: 12rem;
  border: 2px solid white; /* border width, style, and color */
  border-radius: 10px;
  padding: 20px; /* optional: padding to create space inside the border */
  color: white;
  margin-right: 5rem;
}
